<!DOCTYPE html>
<html>
    <head>
        <title>
            Hangman App
        </title>
        <link rel="stylesheet" href="styles.css">
        <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
        <script src = "app.js"></script>
    
    </head>
    <body ng-app = "HangmanApp" ng-controller="GameController">
    <div1>
        <h1>
            HANGMAN
        </h1>
    </div1>
    <div class = "main">
            {{guesses}} LEFT
        
        
    </div>
    <div>
    <div class ="left">Your Incorrect Guesses : </div>
    <div class = "left2"><span ng-repeat="letter in incorrectLettersChosen"> {{letter}} </span></div>
    </div><div>
    <div class ="right"> Your Correct Guesses :</div>
    <div class = "right2"> <span ng-repeat="letter in correctLettersChosen"> {{letter}} </span> </div>
    </div>
    <div class = "response">{{displayWord}} </div>
    <div class = "center">
        <div>
            <input type="text" name="guess" ng-model="input.letter">
            <button ng-click="letterChosen()">Submit</button>
        </div>
    </div>
    </body>
</html>