body{
    background-color: black;
    color: whitesmoke;
    font-size: 60px;
}

h1{
    font-size: 190%;
}

div1
{
    text-align: center;
}


.center
{
    position: absolute;
    left: 0;
    top: 75%;
    width: 100%;
    text-align: center;

}
.response
{
    position: absolute;
    left: 0;
    top: 70%;
    width: 100%;
    font-size: 60;
    text-align: center;

}
.left {
    position: absolute;
    top: 250px;
    left: 16px;
    font-size: 32px;
}
.left2 {
    position: absolute;
    top: 300px;
    left: 16px;
    font-size: 32px;
}

.right {
    position: absolute;
    top: 250px;
    right: 16px;
    font-size: 32px;
}


.right2 {
    position: absolute;
    top: 300px;
    right: 16px;
    font-size: 32px;
}

.main
{
    position: absolute;
    top: 200px;
    right: 850px;
    font-size: 62px;
}